@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
    <style>  
        p.ex2 {
            font-size: 120px;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><p class="ex2">WELCOME IN THE USERSAPP</p></center>

</body>

 